@import '../../styles/variables.scss';

.header {
  width: 144rem;
  height: 9.5rem;
  background-color: #184c99;
}

.container {
  height: 9.5rem;
  margin: 0 5.9rem;
  background-color: yellow;
}
.row {
  height: 9.5rem;
  display: flex;
  align-items: center;
  margin: 0 17rem;
  gap: 5rem;
  background-color: palevioletred;
}

.title {
  font-size: 2.4rem;
  font-weight: 70rem;
  width: 14.5rem;
  height: 3.2rem;
}

.navigationList {
  display: flex;
}

.navigationItem {
  margin-right: 2rem;
}

.navigation {
  display: flex;
  gap: 30rem;
}

.leftNav {
  // margin-top: 3.3rem;
}
.rightNav {
  display: flex;
  // margin-top: 3.4rem;
  // margin-left: 32rem;
}

.button {
  background-color: #23a6f0;
  width: 137px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
}
