@import '../../styles/variables.scss';

.container {
  background-color: $bg-color-2;
  height: 6rem;
  padding: 1.6rem 0;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightPart {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  button {
    width: 2.4rem;
    height: 2.4rem;
  }

}
.btn {
  position: relative;
}

.circle {
  position:absolute;
  top: 0.1rem;
  right:0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background-image: linear-gradient(#54a3ff, #006eed);
  border-radius: 50%;
 }



.avatar {
  img {
    border-radius: 50%;
  }
}

.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.searchContainer {
  border: 1px solid grey;
  border-radius: 0.5rem;
   
}
.searchContainer:hover {
  background-color: black;
}

.nav{
  display: flex;
  gap: 1rem;
}

