.main {
  height: 475.2rem;
  width: 144rem;
  background-color: #184c99;
}
.section {
  height: 68.2rem;
  width: 144rem;
  display: flex;
  gap: 3.5rem;
}
.asideLeft {
  background-color: #184c99;
  height: 466px;
  width: 573px;
  margin-left: 13.2rem;
  margin-top: 10.8rem;
}
.section .asideLeft h6 {
  color: #23a6f0;
}

.section .asideLeft h1 {
  height: 5.73rem;
  width: 24rem;
  font-size: xx-large;
  margin-top: 5.4rem;
}

.section .asideLeft p {
  margin-top: 8.4rem;
}

.btn {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}
.btn .leftBtn {
  background-color: #23a6f0;
  padding: 1.5rem 4rem;
}

.btn .rightBtn {
  color: #23a6f0;
  border: 1px solid #23a6f0;
  padding: 1.5rem 4rem;
}

.asideRight {
  background-color: gray;
  height: 682px;
  width: 704px;
  margin-top: 10.8rem;
}
