$bg-color-1: #010409;
$bg-color-2: #161b22;
$bg-color-3: #0d1117;
$bg-color-4: #000000;

$color-white: #fff;

$breakpoint-sm: 767px;
$breakpoint-lg: 1023px;
$breakpoint-xl: 1199px;
$breakpoint-2xl: 1439px;
