.container {
    width: 144rem;
    height: 450.6rem;
    color: #FFFFFF;
    font-family: Montserrat;

}
.main {
    background-color: red;
    width: 144rem;
    // height: 300rem;

}

.header {
    background-color: #184C99;
    width: 144rem;
    height: 9.5rem;
}